<h1>Reddit</h1>

<form onsubmit={{action "search"}}>

  {{input type = "text" value = subreddit}}

  <button type=submit>Submit</button>

</form>

<br>

<p>Check - {{unread-email email = email onclick = (action "markAsRead")}}

</p>


{{outlet}}
